<!DOCTYPE html>
<html lang="en">

<head>
    <title>IoT Garbage Collection Optimization</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="{{ url_for('main') }}">Home</a></li>
                    <li role="presentation"><a href="{{ url_for('truck_routes') }}">Truck Routes</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Iot Garbage Optimization</h3>
        </div>

        <div class="jumbotron">
            <h1>Truck Routing</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="{{ url_for('truck_routes') }}" role="button">Route Trucks!</a>
            </p>
        </div>


        <footer class="footer">
            <p>Pooja Saxena, Nick Paras, Helen Foster</p>
        </footer>

    </div>
</body>

</html>
