<!DOCTYPE html>
<html lang="en">
<head>
    <title>IoT Garbage Collection Optimization</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="{{ url_for('main') }}">Home</a></li>
                    <li role="presentation"><a href="{{ url_for('truck_routes') }}">Truck Routes</a></li>
                    <li role="presentation" class = "active"><a href="{{ url_for('truck_analytics') }}">Analytics</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Iot Garbage Optimization</h3>
        </div>
    </div>
</body>
